In [15]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
import os
import json
import gmaps.datasets
# Import the API key.
from config import g_key
gmaps.configure(api_key = g_key)

In [16]:
# pip install gmaps

In [17]:
%matplotlib inline

In [18]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-10-25 15:26:59,-46.6000,168.3333,44.47,83,100,6.46
1,1,Portland,US,2022-10-25 15:25:07,45.5234,-122.6762,50.74,94,75,7.00
2,2,Avarua,CK,2022-10-25 15:27:00,-21.2078,-159.7750,71.65,68,40,9.22
3,3,Ankara,TR,2022-10-25 15:27:00,39.9199,32.8543,62.20,41,0,1.14
4,4,Butaritari,KI,2022-10-25 15:27:01,3.0707,172.7902,80.87,78,63,4.68

In [19]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [20]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:   
    temps.append(max(temp, 0))

In [21]:
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

In [14]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Butaritari,KI,2022-10-25 15:27:01,3.0707,172.7902,80.87,78,63,4.68
7,7,Sao Filipe,CV,2022-10-25 15:27:03,14.8961,-24.4956,78.73,76,4,7.11
9,9,Buala,SB,2022-10-25 15:27:05,-8.1450,159.5921,79.25,82,2,3.60
14,14,Ponta Do Sol,PT,2022-10-25 15:27:10,32.6667,-17.1000,77.63,87,63,7.00
17,17,Atuona,PF,2022-10-25 15:27:11,-9.8000,-139.0333,76.35,77,9,20.29
21,21,Arraial Do Cabo,BR,2022-10-25 15:27:13,-22.9661,-42.0278,80.56,73,40,11.50
32,32,Moron,AR,2022-10-25 15:27:19,-34.6534,-58.6198,80.94,62,94,8.99
41,41,Kapaa,US,2022-10-25 15:27:27,22.0752,-159.3190,79.12,86,20,13.80
42,42,Axim,GH,2022-10-25 15:27:28,4.8699,-2.2405,82.22,75,100,7.40
45,45,Samarai,PG,2022-10-25 15:27:30,-10.6167,150.6667,80.22,70,93,5.37

In [28]:
preferred_cities_df.count()

City_ID       236
City          236
Country       235
Date          236
Lat           236
Lng           236
Max Temp      236
Humidity      236
Cloudiness    236
Wind Speed    236
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4        Butaritari      KI     80.87   3.0707  172.7902
7        Sao Filipe      CV     78.73  14.8961  -24.4956
9             Buala      SB     79.25  -8.1450  159.5921
14     Ponta Do Sol      PT     77.63  32.6667  -17.1000
17           Atuona      PF     76.35  -9.8000 -139.0333
21  Arraial Do Cabo      BR     80.56 -22.9661  -42.0278
32            Moron      AR     80.94 -34.6534  -58.6198
41            Kapaa      US     79.12  22.0752 -159.3190
42             Axim      GH     82.22   4.8699   -2.2405
45          Samarai      PG     80.22 -10.6167  150.6667

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [41]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4        Butaritari      KI     80.87   3.0707  172.7902
7        Sao Filipe      CV     78.73  14.8961  -24.4956
9             Buala      SB     79.25  -8.1450  159.5921
14     Ponta Do Sol      PT     77.63  32.6667  -17.1000
17           Atuona      PF     76.35  -9.8000 -139.0333
21  Arraial Do Cabo      BR     80.56 -22.9661  -42.0278
32            Moron      AR     80.94 -34.6534  -58.6198
41            Kapaa      US     79.12  22.0752 -159.3190
42             Axim      GH     82.22   4.8699   -2.2405
45          Samarai      PG     80.22 -10.6167  150.6667

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))